.card-total-container {
    width: 100%;
    color: #333;
}

.card-title {
    font-size: 26px;
    margin-bottom: 1rem;
}

.card-details {
    font-size: 1rem;
}

.card-row {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0;
}

.card-divider {
    border: none;
    border-top: 1px solid #ddd;
    margin: 0.5rem 0;
}

.card-total {
    font-weight: bold;
    margin-top: 1rem;
}